{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
    <form method="POST" action="insert">
        <label> Hi {{.Value}}</label><input type="hidden" value={{.Value}} name="name" /><br />
        <label> Total People coming</label><input type="number" name="add_pax" /><br />
        <label> Food Choice for (Steak or Salmon)?</label><input type="text" name="food_choice"/><br />
        <input type="submit" value="Save user" />
    </form>
  {{ template "Footer" }}
{{ end }}